@font-face {
  font-family: "iconfont"; /* Project id 3257130 */
  src: url("iconfont.woff2?t=1648095599668") format("woff2"),
    url("iconfont.woff?t=1648095599668") format("woff"),
    url("iconfont.ttf?t=1648095599668") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e8b7";
}
