@font-face {
  font-family: "iconfont"; /* Project id 3257130 */
  src: url("iconfont.woff2?t=1647588861154") format("woff2"),
    url("iconfont.woff?t=1647588861154") format("woff"),
    url("iconfont.ttf?t=1647588861154") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}
